#d1{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: blueviolet;
    -webkit-box-reflect: below 0px linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0,0, 0, 0.5));
}
#ball{
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0,0, 0, 0.5));
    position: static;
}
#code{
    width: 200px;
    height: 200px;
    /* object-fit: contain; */
    object-fit: cover;
    object-position: 50% 50%;
    /* object-fit: scale-down; */
    /* object-fit: none; */
    /* object-fit: fill; */
    position: static;
    /* mask-image: url("../PICTUREs/rhombus.png");
    -webkit-mask-image:url("../PICTUREs/rhombus.png") ;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat; */
}