span{
    background-color: blueviolet;
}
#s1{
   display: inline; 
}
#s2{
    display: block;
}
#s3{
    display: none;
}
#s4{
    display: inline-block;
}
#s5{
    visibility: hidden;
}
#s6{
    visibility: visible;
}
#p1{
    border: 6px solid transparent;
    padding: 20px;
    border-image: url("/PICTUREs/border2.png") 30 fill;
}