#p1{
    /* border-width: 2px;
    border-color: blueviolet;
    border-style: groove; */
    border:dashed 2px brown;
    padding: 5px;
}
#p2{
    border-top: darkcyan 2px dotted;
    border-bottom: tan 2px solid;
    border-left: plum 2px groove;
    border-right: purple 2px dashed;
    padding: 5px;
}
#p3{
    background-color: chartreuse;
    border-style: double;
    border-width: 3px;
    padding: 2px;
    margin: 10px;
    padding: 5px;
}
#p4{
    border-style: inset;
    border-width: 5px;
    padding: 5px;
}
#p5{
    border-style: outset;
    border-width: 5px;
    padding: 7px;
}
/* border-style is enouf for drawing a border  */