p{
    width: 50px;
    height: 50px;
    background-color: gray;
    text-align: center;
    padding: 5px;
}
#p1{
    box-shadow: 5px 5px #bbb;
    border-radius: 20%;
}
#p2{
    box-shadow: -5px 5px #bbb;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#p3{
    box-shadow: 5px -5px 6px #bbb;
    border-top-left-radius: 10px 15px;
    border-bottom-right-radius: 10px 15px;
}
#p4{
    box-shadow: -5px -5px 2px #bbb;
    border-radius: 10px 20px 15px 30px /15px 30px 10px 20px;
    /*      x:t-l t-r b-r b-l/y:t-l t-r b-r b-l     */
}
#p5{
    box-shadow: 0 0 8px #000;
}
#p6{
    box-shadow: inset 0 0 8px #000;
}
#d1{
    border: 6px solid transparent;
    padding: 20px;
    border-image: url("/PICTUREs/border2.png") 30 fill;
    position: absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
}