body{
    /* background-color: blueviolet;
    color: black;
    background-image: url("/PICTUREs/banana.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed; */
    height: 2000px;
    background: url("/PICTUREs/banana.jpg") no-repeat center fixed;
    background-size: cover;
    /* background-size: 100% 100% */
}
p{
    background-color: rgb(153, 0, 240);
    width: 200px;
    height:200px ;
}
#p1{
    opacity: 1;
}
#p2{
    opacity: 0.8;
}
#p3{
    opacity: 0.6;
}
#p4{
    opacity: 0.4;
}
#p5{
    opacity: 0.2;
}