@font-face {
    font-family: "Nazanin";
    src: url("/Fonts/WOFF/IRNazanin-Regular.woff");
}
@font-face {
    font-family: "Homa";
    src: url("/Fonts/WOFF/IRHoma-Regular.woff");
}
#f1{
    font-family: "Nazanin";
    color: brown;
    background-color: violet;
    width: 400px;
}
#f2{
    font-family: "Homa";
    color: aqua;
    font-size: xx-large;
}
#f3{
    width: 50px;
    height: 100px;
}